<!DOCTYPE html>
<html>

<head>
  <title>Pledge Helper</title>
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Fri, 25 Nov 2016 00:00:00 EST" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></link>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <div class="container-fluid">
      <div class="tab-content">
        <h2 class="text-center" style="margin:50px;">Unnatural Kickstarter: Pledge and shipping calculator</h2>
        <form class="form-horizontal">
          <div class="col-md-12 center-block">
            <div class="form-group">
              <label for="pledge" class="control-label col-md-4">Pledge</label>
              <div class="col-md-4">
                <select name="pledge" class="form-control" v-model="pledgeValue">
                <option value="1">Custom Reward ($1)</option>
                <option value="90">Monster Pack ($90)</option>
              </select>
              </div>
            </div>
            <div class="form-group">
              <label for="shippping" class="control-label col-md-4">Shipping</label>
              <div class="col-md-4">
                <select name="shipping" class="form-control" v-model="shippingType">
                <option value="U">USA: 10 USD + 4 USD each 100 grams.</option>
                <option value="E">Europe: 12 USD + 5 USD each 100 grams.</option>
                <option value="R">Rest of the World: 7 USD each 100 grams (MINIMUM 21 USD).</option>
              </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <h3 class="text-right">Monsters add-ons</h3>
              </div>
              <div class="col-md-1 col-md-offset-2">
                <button class="btn btn-info" @click.prevent="resetQs">Clean all</button>
              </div>
            </div>
            <div class="form-group">
              <label for="bio-engineer" class="control-label col-md-4">The bio-engineer</label>
              <div class="col-md-3">
                <select name="bio-engineer" class="form-control" v-model="engineersQ">
                  <option v-for="n in get10Array()" v-bind:value="n * 12">
                    x{{n}} model(s) (+${{n * 12}})
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="engineerstl" v-model="engineerstl">
                <label for="engineerstl">Add .STL file to pledge.</label>
              </div>
            </div>

            <div class="form-group">
              <label for="stingers" class="control-label col-md-4">Running stingers</label>
              <div class="col-md-3">
                <select name="stingers" class="form-control" v-model="stingersQ">
                  <option v-for="n in get10Array()" v-bind:value="n * 18">
                    x{{n * 5}} models pack (+${{n * 18}})
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="stingerstl" v-model="stingerstl">
                <label for="stingerstl">Add .STL file to pledge.</label>
              </div>
            </div>

            <div class="form-group">
              <label for="hen" class="control-label col-md-4">Falling Hen</label>
              <div class="col-md-3">
                <select name="hen" class="form-control" v-model="henQ">
                  <option v-for="n in get10Array()" v-bind:value="n * 55">
                    x{{n}} model(s) (+${{n * 55}})
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="henstl" v-model="henstl">
                <label for="henstl">Add .STL file to pledge.</label>
              </div>
            </div>

            <div class="form-group">
              <label for="chicks" class="control-label col-md-4">Flying chicks</label>
              <div class="col-md-3">
                <select name="chicks" class="form-control" v-model="chicksQ">
                  <option v-for="n in get10Array()" v-bind:value="n * 24">
                    x{{n *4}} models pack (+${{n * 24}})
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="chicksstl" v-model="chicksstl">
                <label for="chicksstl">Add .STL file to pledge.</label>
              </div>
            </div>

            <div class="form-group">
              <label for="toad" class="control-label col-md-4">Eager Toad</label>
              <div class="col-md-3">
                <select name="toad" class="form-control" v-model="toadQ">
                  <option v-for="n in get10Array()" v-bind:value="n * 45">
                    x{{n}} model(s) (+${{n * 45}})
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="toadstl" v-model="toadstl">
                <label for="toadstl">Add .STL file to pledge.</label>
              </div>
            </div>

            <div class="form-group">
              <label for="toadlet" class="control-label col-md-4">Toadlets</label>
              <div class="col-md-3">
                <select name="toad" class="form-control" v-model="toadletsQ">
                  <option v-for="n in get10Array()" v-bind:value="n * 15">
                    x{{n * 5}} models pack (+${{n * 15}})
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="toadletsstl" v-model="toadletsstl">
                <label for="toadletstl">Add .STL file to pledge.</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <h3 class="text-right">Kingdoms Add-ons</h3>
              </div>
            </div>
            
            <div v-for="addon in getAllAddons()">
              <img class="center-block" :src="addon.img">
              <div class="form-group" v-for="(data, mini) in addon.minis">
                <label :for="mini" class="control-label col-md-4">{{mini}}</label>
                <div class="col-md-4">
                  <select :name="mini" class="form-control" v-model="miniaturesTotals[mini]">
                    <option v-for="n in get10Array()" v-bind:value="n">
                      x{{n}} model(s) (+${{n * data.cost}}, +{{n * data.w}} grs.)
                    </option>
                  </select>
                </div>
              </div>
            </div>
            

            <div class="form-group">
              <div class="col-md-6">
                <h3 class="text-right">Pledge totals</h3>
              </div>
            </div>

            <div class="form-group">
              <label for="total-cost" class="control-label col-md-4">Total pledge cost (USD): </label>
              <div class="col-md-6">
                <input type="text" name="total-cost" v-bind:value="getTotalCost()" disabled="disabled"/>
              </div>
            </div>
            <div class="form-group">
              <label for="total-cost" class="control-label col-md-4">Total pledge weight (GRS): </label>
              <div class="col-md-6">
                <input type="text" name="total-w" v-bind:value="getTotalWeight()" disabled="disabled"/>
              </div>
            </div>
            <div class="form-group">
              <label for="total-cost" class="control-label col-md-4">Total shipping cost (USD): </label>
              <div class="col-md-6">
                <input type="text" name="total-w" v-bind:value="getShippingCost()" disabled="disabled"/>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        pledgeValue: '',
        shippingType: '',
        engineersQ: 0,
        engineerstl: false,
        engineerW: 40,
        stingersQ: 0,
        stingerstl: false,
        stingersW: 100,
        henQ: 0,
        henstl: false,
        henW: 275,
        chicksQ: 0,
        chicksstl: false,
        chicksW: 280,
        toadQ: 0,
        toadstl: false,
        toadW: 210,
        toadletsQ: 0,
        toadletsstl: false,
        toadletsW: 100,
        stl_costs: {
          engineer: 4,
          stinger: 4,
          hen:15,
          chicks: 4,
          toad: 12,
          toadlets: 4,
        },
        miniaturesTotals: {},
        akkirian: {
          "img": "imgs/akkirian.PNG",
          minis: {
            "AK1-2101": { cost: 2.5, w: 16 },
            "AK1-2201": { cost: 2.5, w: 16 },
            "AK1-2102": { cost: 2.5, w: 16 },
            "AK1-3301": { cost: 2.5, w: 16 },
            "AK1-3201": { cost: 2.5, w: 16 },
            "AK1-4201": { cost: 5, w: 35 }
          }
        },
        hassimi: {
          "img": "imgs/hassimi.PNG",
          minis: {
            "HA1-2101": { cost: 2.5, w: 16 },
            "HA1-2201": { cost: 2.5, w: 16 },
            "HA1-2102": { cost: 2.5, w: 16 },
            "HA1-3101": { cost: 2.5, w: 16 },
            "HA1-4101": { cost: 5, w: 35 },
            "HA1-4301": { cost: 5, w: 35 }
          }
        },
        uyghurd: {
          "img": "imgs/uyghurd.PNG",
          minis: {
            "UH1-2101": { cost: 2.5, w: 16 },
            "UH1-2102": { cost: 2.5, w: 16 },
            "UH1-3101": { cost: 2.5, w: 16 },
            "UH1-4101": { cost: 7, w: 35 },
            "UH1-4201": { cost: 7, w: 35 },
            "UH1-4301": { cost: 7, w: 35 }
          }
        },
        rossian: {
          "img": "imgs/rossian.PNG",
          minis: {
            "RO1-2101": { cost: 2.5, w: 16 },
            "RO1-2201": { cost: 2.5, w: 16 },
            "RO1-2102": { cost: 2.5, w: 16 },
            "RO1-2202": { cost: 2.5, w: 16 },
            "RO1-3101": { cost: 2.5, w: 16 },
            "RO1-4201": { cost: 5, w: 35 }
          }
        },
        channelers: {
          "img": "imgs/channelers.PNG",
          minis: {
            "AK1-1401": { cost: 5, w: 20 },
            "HA1-1401": { cost: 5, w: 20 },
            "UY1-1401": { cost: 5, w: 20 },
            "RO1-1402": { cost: 5, w: 20 }
          }
        },
        champions: {
          "img": "imgs/champions.jpg",
          minis: {
            "AK1-1201": { cost: 6, w: 20 },
            "HA1-1201": { cost: 6, w: 20 },
            "UY1-1201": { cost: 6, w: 20 },
            "RO1-1201": { cost: 6, w: 20 },
            "ER1-1201": { cost: 6, w: 20 },
            "IN1-1201": { cost: 6, w: 20 },
            "NO1-1201": { cost: 6, w: 20 },
            "DO1-1201": { cost: 6, w: 20 },
            "EK1-1201": { cost: 6, w: 20 },
            "UR1-1201": { cost: 6, w: 20 },
            "SU1-1201": { cost: 6, w: 20 },
            "SH1-1301": { cost: 6, w: 20 }
          }
        },
        creatures: {
          "img": "imgs/creatures.jpg",
          minis: {
            "RRU1-1101": { cost: 6, w: 20 },
            "RVA1-1201": { cost: 7, w: 20 },
            "RYO1-1101": { cost: 6, w: 20 },
            "RIT1-1201": { cost: 7, w: 20 },
            "RYO1-1101": { cost: 7, w: 20 },
            "RRA1-1201": { cost: 6, w: 20 },
            "RSI1-1201": { cost: 6, w: 20 },
            "RJO1-1201": { cost: 19, w: 45 }
          }
        },
        shippingCalcs: {
          "E": function(weight) {
            return 12 + ((weight / 100) * 5);
          },
          "U": function(weight){
            return 10 + ((weight / 100) * 4);
          },
          "R": function(weight){
            return (weight / 100) * 7;
          }
        }
      },
      methods: {
        isAMonsterPack: function () {
          return this.pledgeValue == 90;
        },
        get10Array: function () {
          var arr = [];
          for(var i = 0; i <= 10; i++){
            arr.push(i);
          }
          return arr;
        },
        created: function () {

        },
        resetQs: function() {
          this.engineersQ = this.stingersQ = this.henQ = this.chicksQ = this.toadQ = this.toadletsQ = 0;
        },
        calculateTotalAddons: function() {
          var total = {
            c: 0,
            w: 0
          };
          for (var i = 0; i < this.getAllAddons().length; i++) {
            var minis = this.getAllAddons()[i].minis;
            for(var key in minis){
              if(this.miniaturesTotals[key]){
                total.c = total.c + (this.miniaturesTotals[key] * minis[key].cost);
                total.w = total.w + (this.miniaturesTotals[key] * minis[key].w);
              }
            }
          }

          return total;
        },
        getMonsterPackCosts: function(){
          if(this.isAMonsterPack()){
            return {
              w: 525,
              c: 90
            }
          }else{
            return {
              w: 0,
              c: 1,
            }
          }
        },
        getAllAddons: function() {
          return [this.akkirian, this.hassimi, this.uyghurd, this.rossian, this.channelers, this.champions, this.creatures];
        },
        getTotalCost: function () {
          var unnaturalCost = this.getEngineerCost() + this.getStingerCost() + this.getHenCost() + this.getChicksCost() + this.getToadCost() + this.getToadletsCost();
          var addons = this.calculateTotalAddons();
          return unnaturalCost + addons.c + this.getMonsterPackCosts().c;
        },
        getTotalWeight: function() {
          var w1 = this.getUnnaturalWeight();
          var w2 = this.calculateTotalAddons();
          return  w1 + w2.w + this.getMonsterPackCosts().w;
        },
        getShippingCost: function() {
          if(!this.shippingType) return 0;
          return this.shippingCalcs[this.shippingType](this.getTotalWeight());
        },
        getUnnaturalWeight: function() {
          return (this.engineersQ * this.engineerW) + (this.stingersQ * this.stingersW) + (this.henQ * this.henW) + (this.chicksQ * this.chicksW) + (this.toadQ * this.toadW) + (this.toadletsQ * this.toadletsW);
        },
        getEngineerCost: function() {
          return this.engineersQ + (this.engineerstl ? this.getStlCost("engineer") : 0);
        },
        getStingerCost: function() {
          return this.stingersQ + (this.stingerstl ? this.getStlCost("stinger") : 0);
        },
        getHenCost: function() {
          return this.henQ + (this.henstl ? this.getStlCost("hen") : 0);
        },
        getChicksCost: function() {
          return this.chicksQ + (this.chicksstl ? this.getStlCost("chicks") : 0);
        },
        getToadCost: function() {
          return this.toadQ + (this.toadstl ? this.getStlCost("toad") : 0);
        },
        getToadletsCost: function() {
          return this.toadletsQ + (this.toadletsstl ? this.getStlCost("toadlets") : 0);
        },
        getStlCost: function(name){
          return this.stl_costs[name];
        }
      }
    })
  </script>
</body>

</html>